@font-face {
  font-family: "iconfont"; /* Project id 2587864 */
  src: url("//at.alicdn.com/t/font_2587864_3072kptjc7x.woff2?t=1622643837011")
      format("woff2"),
    url("//at.alicdn.com/t/font_2587864_3072kptjc7x.woff?t=1622643837011")
      format("woff"),
    url("//at.alicdn.com/t/font_2587864_3072kptjc7x.ttf?t=1622643837011")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantouarrowhead7:before {
  content: "\e6bc";
}

.icon-jiantou:before {
  content: "\e61f";
}
